/*
 * OpenLayers definitions
 */
.olControlEditingToolbar .olControlModifyFeatureItemInactive {
    background-image: url(../img/move_vertex_off.png);
    background-repeat: no-repeat;
}
.olControlEditingToolbar .olControlModifyFeatureItemActive {
    background-image: url(../img/move_vertex_on.png);
    background-repeat: no-repeat;
}
.olControlEditingToolbar .olControlClearFeaturesItemInactive,
.olControlEditingToolbar .olControlClearFeaturesItemActive {
    background-image: url(../img/clear_all.png);
    background-repeat: no-repeat;
}
div.olControlEditingToolbar {
    width: 210px;
}

/*
 * olwidget specific definitions
 */


/* Override padding to avoid position computation errors */
.olPopupContent {
    padding: 0px !important;
    overflow: visible !important;
}

/* Div containing all popup elements */
.olwidgetPopupContent {
    overflow: visible;
    padding: 5px;
    border: 2px solid #777;
    background-color: #777;
}

.olwidgetPopupCloseBox {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    background: #fff url("../img/icons_light.png") no-repeat scroll -32px -192px;
    padding-top: 16px;
    width: 16px;
    height: 0px;
    overflow: hidden;
}
.olwidgetPopupCloseBox:hover {
    background-image: url("../img/icons.png");
}
/* Div containing content passed in to the popup */
.olwidgetPopupPage {
    overflow: auto;
    background: #fff;
    padding: 8px;
}

.olwidgetPopupPagination {
    float: right;
    background: #fff;
    padding-left: 5px;
    padding-right: 5px;
}
.olwidgetPaginationPrevious {
    float: left;
    cursor: pointer;
    background: url("../img/icons_light.png") no-repeat scroll -80px -192px;
    padding-top: 16px;
    width: 16px;
    height: 0px;
    overflow: hidden;
}
.olwidgetPaginationPrevious:hover {
    background-image: url("../img/icons.png");
}

/* Div containing page count, e.g. "1 of 5". */
.olwidgetPaginationCount {
    float: left;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.olwidgetPaginationNext {
    float: left;
    cursor: pointer;
    background: url("../img/icons_light.png") no-repeat scroll -48px -192px;
    padding-top: 16px;
    width: 16px;
    height: 0px;
    overflow: hidden;
}
.olwidgetPaginationNext:hover {
    background-image: url("../img/icons.png");
}

/* position blocks */
.olwidgetPopupStemTL {
    background-image: URL("../img/triangles.png");
    background-position: 0px -28px;
}
.olwidgetPopupStemTR {
    background-image: URL("../img/triangles.png");
    background-position: 0px -28px;
}
.olwidgetPopupStemBL {
    background-image: URL("../img/triangles.png");
    background-position: 0px 0px;
}
.olwidgetPopupStemBR {
    background-image: URL("../img/triangles.png");
    background-position: 0px 0px;
}
