{% extends "base.html" %}

{% block body %}
<ul>
    <li><a href='/admin/'>olwidget in admin</a>.  Map in <a href='/admin/testolwidget/pointmodel/'>changelist</a>.</li>
    <li>Editable maps: <a href='/test/model/edit'>single geometries</a>, <a href='/test/multi/edit'>collections</a></li>
    <li>Display maps: <a href='/test/model/1'>single geometry</a>, <a href='/test/multi/1'>collection</a></li>
    <li>Info maps: <a href='/test/info/1'>an example</a>, <a href='/test/styleinfo/'>Per-geometry styles</a></li>
   
</ul>
{% endblock %}

